{% load static %}
<nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-7">
                <div>
                    <a href="{% url 'app1:get_employees_from_api' %}" class="flex items-center px-2 py-4">
                        <img class="h-8 w-8" src="https://static.vecteezy.com/system/resources/thumbnails/001/505/042/small/employee-icon-free-vector.jpg" alt="logo" width="50" height="50"/>
                        <span class="text-gray-500 font-semibold text-xl">Employees</span>
                    </a>
                </div>
                <div class="items-center flex space-x-1">
                </div>
            </div>
        </div>
    </div>
</nav>
